header{
    background-color:darkslategray;
    text-align: center;
    padding: 5px;
}

body{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1.5%;
    background-image: url("bg/clouds5.jpg");
}



.container{
    display: grid;
    grid-template-columns: 100px 3fr 2fr;
}

#header{
    grid-column-start: 1;
    grid-column-end: 4;
}

#footer{
    grid-column-start: 1;
    grid-column-end: 4;
}


