body{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1.5%;
}



.container{
    display: grid;
    grid-template-columns: 100px 3fr 2fr;
}

#header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:darkslategray;
    text-align: center;
    padding: 5px;
}

#panel{
    grid-row-start: 2;
    grid-row-end: 5;
}

#footer{
    grid-column-start: 1;
    grid-column-end: 4;
}


